body{
    background-color: beige;
}
.card{
    width: 800px;
    background: #fff;
    margin: 0px auto;
    border:1px solid salmon;
    background-color: pink;
   
}
.container-flex{
    display: flex;
    justify-content: space-between
   
}

h1, h2{
    flex: 1;
    margin: auto;
    text-align: center;
    font-size: 40px;
    color: rgb(150, 119, 17);
    
}
img{
    flex: 1;
   width: 400px;

}

a{
    font-size: 20px ;
}

li{
    font-size:20px ;
    font-weight: bold;
}
.precios{
    list-style: none;
    text-align: right;
}
